* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.contenedor-menu {
	width: 100%;
	color: #000;
	display: flex;
}

.content-menu {
	width: 100px;
	background: #161616;
	transition: all 300ms;
}

.content-menu .item-menu {
	list-style: none;
	padding: 20px;
	text-align: center;
	color: #fff;
	transition: all 300ms;
	cursor: pointer;
}

.content-menu .item-menu span {
	font-size: 30px;
}
.content-menu .item-menu:hover {
	transform: translateY(10px);
	background: rgba(0, 0, 0, 0.5);
}

.content-menu .item-menu .title-item {
	font-size: 15px;
	font-weight: 100;
	transform: translateY(20px) translateX(-110px);
	transition: all 300ms;
}
.content-menu:hover .text1 {
	transform: translateX(0px);
	transition: all 100ms;
}
.content-menu:hover .text2 {
	transform: translateX(0px);
	transition: all 200ms;
}
.content-menu:hover .text3 {
	transform: translateX(0px);
	transition: all 300ms;
}
.content-menu:hover .text4 {
	transform: translateX(0px);
	transition: all 400ms;
}
.icon1 {
	color: #ba7404;
}

.icon2 {
	color: #1bbfb2;
}
.icon3 {
	color: #a319a4;
}
.icon4 {
	color: #760b0b;
}

.pestana {
	width: 100vmax;
	height: 80px;
    background: #227fbc;
    transition: all 300ms;
}
.pestana2 {
	width: 7.3%;
	height: 80px;
    background: #227fbc;
    transition: all 300ms;
}
.pestana .img-pestana {
	font-size: 30px;
	padding: 10px;
	color: white;
	transition: all 300ms;
	cursor: pointer;
	position: relative;
	top: 16px;
	left: 22px;
}

.pestana .img-pestana:hover {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.content-menu2 {
	margin-left: -100px;
}

.title-p {
	background-color: #001f3f;
	padding: 2%;
	margin: 1.5% 0;
	border-radius: 0px 93px 91px 0px;
	-moz-border-radius: 0px 93px 91px 0px;
	-webkit-border-radius: 0px 93px 91px 0px;
	border: 0px solid #000000;
}

.linke{

	color:#fff;
	text-decoration: none;

}
.img-style{
	margin:0;
	border:0;
	width: 50px;
	height: 50px

}

.img-style-blanco{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	margin:0;
	border:0;
	width: 50px;
	height: 50px

}